@font-face {
    font-family: Oswald;
    src: url(/Oswald/static/Oswald-Bold.ttf);
    
}

html {
    background-color: black;
    background-image: url(/images/Smile.jpg);
}

ul {
    list-style-type: none;
    margin: 10;
    padding: 0;
}

li {
    dislpay: inline;
    float: left;
}

a {
    dispaly: block;
    padding: 8px;
    font-family: 'Oswald', sans-serif;
    font-size: 32px;
    text-decoration: none;
    color: grey;
    border-radius: 15px;
}

a:hover {

    background-color: white;
    color: black;
    pading: 15px;
    transition: 1s ease;
}

